.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  width: 260px;
  pointer-events: none;
}


.App-header {
  /* background-color: #7a602b; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Hero-section {
  background-color: #FFFDF9;
  height: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.faq {
  background-color: #FFFDF9;
  height: 1132px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Column-section {
  background-color: #EBE9E5 ;
  height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.calltoaction {
  background-color: #EBE9E5 ;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.second-span {
  background-color: #FFFDF9;
  height: 780px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.App-nav {
  background-color: #004E98;
  color:#FFFFFF;
}

.App-footer {
  height: 517px;
  background-color: #004E98;
  color:#FFFFFF;
}


.App-link {
  color: #61dafb;
}

