.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  width: 260px;
  pointer-events: none;
}


.App-header {
  /* background-color: #7a602b; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.hero-section {
  position: relative;
  height: 100vh;
  background-image: url('./assets/Hero\ Section.png');
  background-size: cover;
  background-position: center;
  display: flex;
  display: flex;
  align-items: center; 
  padding-left: 5%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay effect */
}

.hero-content {
  position: relative;
  /* color:  #DDCFB1 ; */
  text-align: left; 
  max-width: 800px; 
  z-index: 1;
}

.hero-content h1 {
  font-size: 4rem;
  color:  #DDCFB1 ;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  color:  #FFFFFF ;
  max-width: 800px;
  margin-top: 1rem;
  line-height: 1.5;
}

.call-content {
  background-color: #EBE9E5;
  position: relative;
  color: black;
  text-align: center;
  z-index: 1;
  height: 400px;
  padding: 20px;
}

.call-content h1 {
  margin-top: 30px; /* Adds more space between h1 and top border */
  margin-bottom: 10px; 
  font-size: 48px;
}

.call-content p {
  margin-top: 0;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.Hero-section {
  background-color: #FFFDF9;
  height: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.faq {
  background-color: #FFFDF9;
  height: 1132px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Column-section {
  background-color: #EBE9E5 ;
  height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.calltoaction {
  background-color: #EBE9E5 ;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.second-span {
  background-color: #FFFDF9;
  height: 780px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.App-nav {
  background-color: #004E98;
  color:#FFFFFF;
}

.App-footer {
  height: 517px;
  background-color: #004E98;
  color:#FFFFFF;
}


.App-link {
  color: #61dafb;
}

